<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script  src = "https://unpkg.com/vue@3.2.20/dist/vue.global.prod.js"></script>
   
       
   
</head>
<body>
    <div id="app">
      <div v-for="(pessoa, index) in pessoa" :key="index" >
          
        <div v-if=" pessoa.ativo">

      
       <p> nome: {{pessoa.nome}}</p>
       <p> cpf: {{pessoa.cpf}}</p>
       <p> rg:{{pessoa.rg}}</p>
       <hr>
    </div>
    </div>
    <script>
        const app = Vue.createApp({
            data(){
                return{ 
                   pessoa :
                   [{
                    
                    nome :'maria',
                    cpf:1234563,
                    rg:1225582,
                    ativo:true,
                    },
                    {
                    nome :'jose',
                    cpf:1234563,
                    rg:1225582,
                    ativo:true,
                    },
                    {
                    nome :'joao',
                    cpf:1234563,
                    rg:1225582,
                    ativo:true
                    }
                
                
                   ]



                 };
            },
           methods:{
            
           },
              
        });
        app.mount('#app');
    </script>
</body>
</html>